<button mat-button>Basic</button>
<button mat-flat-button>Basic</button>
<button mat-flat-button color="primary">Primary</button>
<button mat-flat-button color="accent">Accent</button>
<button mat-flat-button color="warn">Warn</button>
<button mat-flat-button disabled>Disabled</button>

<button mat-icon-button aria-label="Example icon-button with a heart icon">
  <mat-icon>favorite</mat-icon>
</button>

<mat-form-field>
  <input matInput type="datetime-local" placeholder="start date">
</mat-form-field>
